* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.main-header {
    font-size: 40px;
    font-weight: 700;
}

.logo {
    width: 65px;
}

.logo-container {
    width: 95%;
    margin: 0 auto;
    
}

.list {
    vertical-align: middle;
}
 
img {
    vertical-align: middle;
}
main {
    background-color: #F7F8F9;
    padding-top: 40px;
   
}

.container {
    max-width: 980px;
    height: 700px;
    margin: 0 auto;
    background-color: white;
    
}

.button-section {
    height: 50px;
    border-bottom: 3px solid #F7F8F9;
}

.button {
    font-size: 12px;
    border-radius: 5px;
    padding: 8px;
    color: white;
    margin-top: 10px;
}

.blue {
    background-color: #47ACF1;
    margin-left: 50px;
    border: 0;
    
}

.white {
    background-color: white;
    color: grey;
    border: 1px solid gray;
    margin-left: 6px;
}

.list-section {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

li {
    margin-top: 15px;
    font-size: 20px;
}

.label {
    font-size: 12px;
    display: inline-block;
    width: 60px;
    border-radius: 0% 20% 0% 20%;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    color: white;
    padding-top: 3px;
}

.skyblue {
    background-color: #46ABEA;
}

.violet {
    background-color: #9C72E5;
}

.green {
    background-color: #65C0A8;
}

.orange {
    background-color: #F29E32;
}

.pink {
    background-color: #D963A1;
}

.lightgreen {
    background-color: #B1C925;
}

.box {
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding-left: 4px;
    font-size: 14px;
}

.check {
    border: 1px solid green ;
    color: green;   
}

.cross {
    border: 1px solid red ;
    color: red;    
}